<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7nxken3XCDB9LX776GXBXZ5BlZefnTJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>236221925547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spliterx</string>
	<key>PROJECT_ID</key>
	<string>spliter-x-9132b</string>
	<key>STORAGE_BUCKET</key>
	<string>spliter-x-9132b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236221925547:ios:43e4b0dbb06a0662b14fee</string>
	<key>DATABASE_URL</key>
	<string>https://spliter-x-9132b-default-rtdb.firebaseio.com</string>
</dict>
</plist>